[Unit]
Description=OpenStack DNS Updater
After=syslog.target network.target

[Service]
Type=simple
User=root
Environment="CONFIG_FILE=/etc/dns-update-%I.ini"
ExecStart=/opt/dns-updater/openstack-dns-updater.py
Restart=always
PrivateTmp=true
KillMode=process

[Install]
WantedBy=multi-user.target
